extends ../../layout/page

block variables
	- var variable = index

block head

block header

block content
		section.reviews.js-reviews
			.container
				//-.square 100

				.reviews__header
					h3.reviews__title Наши отзывы
						svg.reviews__title-line(width='159', height='11', viewbox='0 0 159 11', stroke='#FF6B00', stroke-dasharray='152', stroke-dashoffset='-152', xmlns='http://www.w3.org/2000/svg')
							path(d='M155.059 2.99951C150.235 3.09514 142.881 3.7503 133.913 4.54926C130.763 4.82983 127.415 5.12814 123.907 5.42618C110.517 6.5638 94.9985 7.67611 80.0405 7.67611C73.2514 7.67611 66.8561 7.37305 60.1756 7.05648C45.1971 6.34667 28.7846 5.56892 3.2832 7.98671')

					.reviews__nav
						button.reviews__nav-btn.reviews__nav-prev.js-reviews__nav-prev
							+icon("chevron-left", "reviews__nav-icon")
						button.reviews__nav-btn.reviews__nav-next.js-reviews__nav-next
							+icon("chevron-right", "reviews__nav-icon")
					.reviews__all
						a.btn.btn__primary(href="#") Все отзывы
							+icon("arrow-right", "btn__icon")

				.reviews__body
					.reviews__row.js-reviews__row

						each text  in index.items
							.reviews__item.js-reviews__item
								.reviews__card
									.reviews__card-header
										div
											.reviews__card-title Антон
											.reviews__card-date 20 апреля 2020
										a.reviews__card-social(href="#")
											+icon('instagram')
											span.reviews__card-social-text В инстаграме
									.reviews__card-text=text

				.reviews__footer
					a.btn.btn__primary(href="#") Все отзывы
						+icon("arrow-right", "btn__icon")

block footer
	.text_center Atid
