.layout {
  display: flex;
  flex-direction: column;

  &-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &-footer {
    padding: 1rem;
  }
}

.svg-icons {
  display: none;
}

.btn {
  text-decoration: none;
  user-select: none;
  border: 0 solid transparent;
  display: inline-flex;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 24px;
  height: 40px;
  box-shadow: 0 3px 6px transparentize($danger, .7);
  font-weight: 600;
  transition: transform .3s ease-in-out;

  &:hover {
    text-decoration: none;
    transform: translateY(-4px);
  }

  &:focus {
    outline: 0 dotted;
  }

  &__primary {
    color: $white;
    background-color: $danger;

    &:hover {
      color: $white;
    }
  }

  &__icon {
    font-size: 22px;
  }
}

.reviews {
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow-x: hidden;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;

    @include media-breakpoint-up(md) {
      font-size: 32px;
      margin-right: 40px;
    }

    &-line {
      position: absolute;
      right: -1rem;
      bottom: -.5rem;
      fill: none;
      stroke-linecap: round;
      stroke-width: 6;
      animation: titleLine 3s ease-in-out forwards;
    }
  }

  &__nav {
    display: flex;

    &-btn {
      background-color: $danger;
      text-decoration: none;
      user-select: none;
      border: 0 solid transparent;
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 0;
      color: $white;
      box-shadow: 0 3px 6px transparentize($danger, .7);
      transition: transform .3s ease-in-out;

      &:hover,
      &:active {
        transform: translateY(-4px);
      }

      &:focus {
        outline: 0 dotted;
      }

      & + .reviews__nav-btn {
        margin-left: .5rem;
      }
    }

    &-icon {
      font-size: 40px;
    }
  }

  &__all {
    display: none;
    margin-left: auto;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  &__row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -$grid-gutter-width/2;
    margin-right: -$grid-gutter-width/2;
    transition: transform .4s ease-in-out;
  }

  &__item {
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    display: flex;
    flex: 1 0 auto;
    transition: width .2s ease-in-out;
  }

  &__card {
    padding: 1.75rem;
    background-color: $white;
    border: 1px solid darken($white, 10%);
    border-radius: 20px;
    box-shadow: 0 4px 24px transparentize($danger, .9);

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.75rem;
    }

    &-title {
      font-weight: 600;
    }

    &-date {
      color: $text-muted;
      font-size: $font-size-sm;
    }

    &-social {
      font-weight: 600;
      color: $danger;
      font-size: 22px;
      display: flex;
      align-items: center;

      &:hover {
        color: $danger;
        text-decoration: none;

        .reviews__item-social-text {
          border-bottom-color: $danger;
        }
      }
    }

    &-social-text {
      font-weight: 600;
      color: $danger;
      font-size: $font-size-base;
      margin-left: .5rem;
      border-bottom: 1px solid transparentize($danger, .8);
      transition: border-bottom-color .2s ease-in-out;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}


@keyframes titleLine {
  to {
    stroke-dashoffset: 0;
  }
}
